.header {
  width: 100%;
  height: 100vh;
  /* background-image: url('../assets/back1.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed; */
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.headerText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-top: 250px; */
}

.header h1 {
  font-size: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.header h1 span {
  color: #ff7300;
}

.header h4 {
  font-size: 24px;
  margin-top: -15px;
  margin-bottom: 0;
  color: #ccc;
}

.header p {
  font-size: 30px;
  margin-top: 10px;
  color: #ccc;
}

.cursor {
  display: inline-block;
  width: 2px;
  height: 1em;
  background: #fff;
  margin-left: 3px;
  vertical-align: baseline;
  animation: blink 0.7s steps(1) infinite;
}

@keyframes blink {
  0%, 40% {
    opacity: 1; }
  50%, 100% {
    opacity: 0; } }

@media (max-width: 768px) {
  .header {
    height: auto;
    padding: 60px 0;
    /* background-image: url('../assets/backmob1.png');
    background-size: cover;
    background-position: center; */
    /* background-attachment: fixed; */
  }
  .container {
    flex-direction: column;
    height: auto;
    padding: 20px 0;
  }
  .header h1 {
    font-size: 40px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header h4 {
    font-size: 20px;
    margin-top: -10px;
    margin-bottom: 0;
  }
  .header p {
    font-size: 24px;
    margin-top: 10px;
  }
}

@media (max-width: 295px) {
  .header {
    width: 100%;
    height: auto;
    background-color: black;
    /* background-image: url('../assets/backmob1.png');
    background-size: cover;
    background-position: center; */
    /* background-attachment: fixed; */
  }
  .container {
    /* flex-direction: column; */
    flex: none;
    height: auto;
    padding: 20px 0;
  }
}