.contact {
  padding: 120px 0 70px 0;
  background-color: #000000;
  color: #ababab;
}

.titleWrapper {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.subTitle {
  position: absolute;
  font-size: 32px;
  font-weight: 700;
  margin: 5px 0 15px;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translate(-50%, -50%);
}

.subTitleBack {
  color: #373737;
  font-size: 70px;
  position: relative;
  margin: 0;
  text-align: center;
}

.root {
    width: 100%;
    /* height: 600px; */
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

/* .contactContainerLeft {
    flex-basis: 20%;
} */

/* .contactContainerRight {
    flex-basis: 20%;
} */

.contactContainerLeft p {
    margin-top: 30px;
}

.contactContainerLeft p i {
    color: #ff7300;
    margin-right: 15px;
    font-size: 25px;
}

.socialIcons {
    margin-top: 30px;
}

.socialIcons a {
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.socialIcons a:hover {
    color: #ff7300;
    transform: translateY(-5px);
}

.btn.btn2 {
    display: inline-block;
    background: #ff7300;
}

.contactContainer {
    /* height: 100vh; */
    display: flex;
    /* margin-left: 50px; */
    align-items: center;
    justify-content: space-evenly;
}

.contactLeft {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    /* height: 600px; */
}

.contactLeft button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 15px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f,#fa6d86);
    cursor: pointer;
}

.contactLeft button img {
    height: 15px;
}

.contactLeftTitle h2 {
    font-weight: 600;
    color: #ff7300;
    font-size: 40px;
    margin-bottom: 5px;
}

.contactLeftTitle hr {
    border: none;
    width: 120px;
    height: 5px;
    background-color: #ff7300;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contactInputs {
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}

.contactLeft textarea {
    height: 100px;
    padding-top: 15px;
    border-radius: 20px;
}

.contactInputs:focus {
    border: 2px solid #ff994f;
}

.contactInputs::placeholder {
    color: #a9a9a9;
}

@media (max-width: 768px) {
    .root {
        flex-direction: column;
        text-align: center;
        gap: 50px;
    }
    .contactContainer {
        flex-direction: column;
        gap: 50px;
    }
    .subTitleBack {
    font-size: 50px;
  }

  .subTitle {
    font-size: 30px;
  }
}

@media (max-width: 427px) {
  .contactContainer {
    display: flex;
    justify-content: center;
    margin: 0;
    /* width: 420px; */
  }
  
  .contactInputs {
    width: 300px;
  }
  .subTitleBack {
    font-size: 50px;
  }

  .subTitle {
    font-size: 30px;
  }
}