/* .navbarDefault {
  background: transparent;
  transition: background 0.3s ease;
}
.navbarScrolled {
  background: #000;
  transition: background 0.3s ease;
} */

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  width: 100%;
  height: 25px;
  padding: 25px 0px;
  z-index: 99;
  /* background: rgb(20, 20, 20); */
  transition: all 0.3s ease;
}

.sticky {
  position: fixed;
  top: 10px;
  left: 20px;
  background-color: black;
  border: #ababab 1px solid;

  width: calc(100% - 40px);

  border-radius: 30px;

  box-shadow: 0 4px 20px rgb(0, 0, 0);
  transition: all 0.3s ease;
  z-index: 999;
}

.logo {
  width: 120px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  transition: right 0.4s;
}

.menu li a {
  color: white;
  font-size: 16px;
  transition: color 0.3s;
  text-decoration: none;
  position: relative;
}

.menu a.active {
  color: #ff7300;
}

.menu li a:hover {
  color: #ff7300;
}

.menu hr {
  border: 0.5px solid gray;
  align-self: center;
  height: 20px;
  margin: 0;
}

.resume {
  border-radius: 5px;
  display: inline;
}

.cv {
  display: none;
}

.btn {
  background: none;
  color: #ababab;
  padding: 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: color 0.3s;
  text-decoration: none;
}

.btn a {
  color: white;
  text-decoration: none;
}

.resume a:hover {
  color: #ff7300;
}

/* li a::after {
    content: '';
    width: 0;
    height: 3px;
    background: #d66220;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s ease-in;
    border-radius: 5px;
}

li a:hover::after {
    width: 100%;
} */

.show {
  right: 0;
}

.nav i {
  display: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    padding: 10px;
    z-index: 99;
    align-items: center;
    justify-content: center;
  }

  .menu hr {
    width: 25px;
    height: 2px;
    background-color: #ff7300;
    border: none;
  }

  .nav i {
    display: inline;
  }

  .menu.show {
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 20px;
    align-items: center;
    justify-content: center;
  }

  .menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .brand {
    /* z-index: 100; */
    display: none;
  }

  .resumeDesktop {
    display: none;
  }

  .cv {
    display: inline;
  }

  /* .resume{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  } */

  .btn a {
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .nav {
    gap: 150px;
    position: fixed; 
  }

  .menu {
    position: fixed; 
  }

  .logo {
    width: 100px;
  }

  .menu li a {
    font-size: 16px;
  }

  .menu hr {
    transform: rotate(90deg);
  }
}

@media (max-width: 400px) {
  .nav {
    position: fixed;  
    gap: 120px;
  }

  .menu {
    position: fixed;  
    column-gap: 15px;
  }

  .logo {
    width: 80px;
  }

  .menu li a {
    font-size: 14px;
  }
}

@media (max-width: 350px) {
  .nav {
    position: fixed;
    gap: 80px;
  }

  .logo {
    width: 70px;
  }

  .menu {
    position: fixed; 
    padding: 40px 120px;
  }
}